* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #07276A;
}
.container{
  max-width: 70rem;
  margin: 0 auto;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #07276A;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}

.img{
  padding-top: 10px;
  background-color: #07276A;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  grid-column-gap: 10px;  
} 

.middle,
.right {
  padding: 5px;
}



.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}
.nav-bar{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDB000;
    position: -webkit-sticky; 
    position: sticky;
    height: 70px;
}
ul.topnav li {
    float: left;
}
ul.topnav li a {
    display: block;
    color: #025D9F;
    text-align: center;
    
    text-decoration: none;
    font-size: 17px;
}

ul.topnav li.right {
    float: right;
}
@media screen and (max-width: 600px) {
      ul.topnav li.right, 
      ul.topnav li {float: none;}
}
/* barra de navegação  */

/* footer */
/* footer */

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.right  a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
  
}

/* Change color on hover */
.topnav a:hover {
  background-color: #07276A;
  color: white;
  transition: .3s;
  border-radius: .5rem;
}

.section-ofertas-cards{
  display: flex;
}

.card-ofertas{
  padding: 1rem;
  border-radius: 1rem;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.contato{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}


.img-telefone img{
  width: 50px;
}

.img-endereco img{
  width: 50px;
}
.img-logo{
  height: 5rem;
}
/*
.img-telefone p{
  float: right;
  padding-right: 420px;
  padding-top: 90px;
}

.img-endereco p{
  float: right;
  padding-right: 220px;
  padding-top: 40px;
}*/
/* FORMULARIO */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 80%;
  margin-top: 6px;
}
.row{
  background-color: #fff;
  padding: 0.5rem;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.produto-title{
  color: #fff;
  font-size: xx-large;
  font-weight: 600;
  padding: 1rem;
}
.produto-title::after{
  content: '';
  display: block;
  background-color: #FDB000;
  margin-left: 1rem;
  height: .3rem;
  width: 12rem;
  border-radius: .2rem;
}
.section-divulgacao{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #FDB000;
  color: #fff;
  border-radius: 1rem;
}
.divulgacao-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}

.divulgacao-img img{
  width: 80%;
  align-items: center;
  background-color: #04AA6D;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.divulgacao-texto{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  padding: 1rem;
}

.section-sobre{
  display: grid;
  grid-template-columns: 50% 50%;
}
.sobre-texto{
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: large;
  padding: 1rem;
}

.sobre-img {
  padding: 2rem;
}

.sobre-img img {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.section-contato{
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: #fff;
  height: 600px;
  border-radius: 1rem;
}
.info-contato{
  padding: 2rem;
}

.info-contato-label{
  font-weight: 600;
  padding: 1rem 0;
}

.mapa{
  margin-top: 1rem;
}

.item-contato{
  display: flex;
  align-items: center;
  font-size: small;
  
}
.item-contato img{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.item-contato a{
  text-decoration: none;
  color: #00F;
}

.item-contato a:hover {
  color: #F00;
 }
 